.peachy-progress {
  position: relative;
  width: var(--component-width);
  padding-bottom: 1em;
}

.peachy-progress::after,
.peachy-progress::before {
  content: "";
  bottom: 0;
  position: absolute;

  border-radius: 1px;
  height: 0.75em;
  width: 12rem;
}

.peachy-progress::before {
  background-color: var(--border);
}

.peachy-progress::after {
  background-color: var(--brand-color);

  will-change: max-width;
  transition: max-width 0.25s;
}

.peachy-progress__label {
  font-size: 90%;
}
