# Logs
*.log
yarn-error.log*
logs
.todo
*.todo

# General
*.local
.DS_Store

# Git and workflow
.husky
.git
.github
.vscode

# Docs
docs
__docs__
*.docs.vue

# Tests
__tests__
cypress.config.js
cypress
*.test.vue
*.cy.ts