.peachy-tree__tree {
  grid-area: tree;
}

.peachy-tree__tree[role="tree"] {
  width: 17rem;
  margin-left: -2rem;
}

.peachy-tree__tree[role="group"] {
  position: relative;
  padding: 0;
  margin: 0;

  margin-left: 0.5rem;
  padding-left: var(--gap);
  border-left: 1px solid var(--border);

  transition: border-color 0.25s;
}

.peachy-tree__tree[role="group"] {
  margin-bottom: 0.5rem;
}

.peachy-tree__tree[role="tree"]
  > .peachy-tree__item:not([aria-expanded])::before {
  content: none;
}

.peachy-tree__item[aria-disabled="true"] {
  opacity: 0.6;
  cursor: default;
}

.peachy-tree__item[aria-disabled="true"] .peachy-tree__item-indicator {
  opacity: 0.8;
  cursor: not-allowed;
}

.peachy-tree__item:not([aria-expanded]) {
  cursor: default;
}

.peachy-tree__item {
  cursor: pointer;
  padding-left: 0.5rem;
  list-style: none;
  display: grid;
  gap: var(--gap);

  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas: "toggle title indicator" "tree tree tree";
  align-items: center;
}

.peachy-tree__item[aria-expanded="true"] > svg {
  transform-origin: center;
  transform: rotate(90deg);
}

.tree-branch-title,
.tree-item-title {
  grid-area: title;
}

.peachy-tree__item:focus {
  outline: none !important;
}

.peachy-tree__item-label {
  width: calc(100% - 1rem);
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

.peachy-tree__item[aria-expanded]:focus > .peachy-tree__item-label {
  background-color: var(--button-bg) !important;
}

.peachy-tree__item[aria-expanded] > .peachy-tree__item-label {
  font-weight: var(--fw-bold);
}

.peachy-tree__item > .peachy-tree__tree:has(> .peachy-tree__item:focus) {
  border-left-color: var(--text);
}

.peachy-tree__item-indicator[data-indeterminate="true"] {
  background-color: var(--warning-color);
}

.peachy-tree__item-indicator svg {
  display: none;
}

.peachy-tree__item-indicator[data-indeterminate="true"] svg,
.peachy-tree__item[aria-selected="true"] > .peachy-tree__item-indicator svg {
  display: block;
}

.peachy-tree__item-indicator {
  grid-area: indicator;

  display: grid;
  place-content: center;
  cursor: pointer;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  font-size: 1.6rem;

  transform: translateX(-0.8rem);

  transition: background-color 0.25s;
  background-color: var(--border);
  border: none;
}

.peachy-tree__item-indicator svg {
  width: 1rem;
  height: 1rem;
}

.peachy-tree__item-indicator[aria-pressed="true"] {
  background-color: var(--brand-button-bg);
  color: var(--brand-button-text);
}

@media (prefers-reduced-motion: no-preference) {
  .tree-loading-icon {
    transform-origin: center;
    animation: Spin 1.25s linear infinite;
  }
}

@keyframes Spin {
  100% {
    transform: rotate(360deg);
  }
}

.tree-unload-button {
  position: absolute;

  bottom: 1rem;
  right: 1rem;

  border-radius: 4px !important;
}
