.peachy-radio__input {
  display: grid;
  gap: var(--gap);
  border: none;
}

.peachy-radio__input-label {
  min-width: max-content;
  padding-bottom: 0.5rem;
  font-weight: var(--fw-bold);
}

.radio-wrapper {
  display: flex;
  align-items: center;
  gap: var(--gap);
  position: relative;
  cursor: pointer;

  width: fit-content;
  padding: 0 1rem 0 0;
}

.peachy-radio__label {
  cursor: pointer;
}

.peachy-radio:focus-visible {
  outline: none !important;
}

.peachy-radio {
  width: 1.25rem;
  height: 1.25rem;

  position: absolute;
}

.peachy-radio:has(:focus-visible) {
  outline: 2px solid var(--brand-color);
  outline-offset: 2px;
  border-radius: 99rem;
}

.peachy-radio__indicator[data-checked="false"] {
  --radio-color: var(--dimmed-text);
}

.peachy-radio__indicator[data-checked="true"] {
  --radio-color: var(--brand-color-dimmed);
}

.peachy-radio__indicator:hover,
.peachy-radio:hover + .peachy-radio__indicator {
  --radio-color: var(--text);
}

.peachy-radio__indicator[data-checked="true"]:hover,
.peachy-radio:hover + .peachy-radio__indicator[data-checked="true"],
.peachy-radio:focus + .peachy-radio__indicator {
  --radio-color: var(--brand-color);
}

.peachy-radio__indicator {
  transition: border 0.25s;

  width: 1.25rem;
  height: 1.25rem;

  border: 2px solid var(--radio-color);
  border-radius: 100%;
  padding: 0.175rem;

  position: relative;
}

.peachy-radio__indicator[data-checked="true"]::before {
  content: "";
  position: absolute;
  inset: 0.15rem;

  background-color: var(--radio-color);
  border-radius: 100%;

  transition:
    background-color 0.25s,
    transform 0.25s;
}

@media (prefers-reduced-motion: no-preference) {
  .peachy-radio__indicator[data-checked="true"]::before {
    animation: ScaleIn 0.25s;
  }
}

/** ===== Animation ===== */

@keyframes ScaleIn {
  from {
    transform-origin: center;
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
