.peachy-input__group {
  border: none;
}

.peachy-input__group-label {
  font-weight: var(--fw-bold);
}

.date-range-picker-wrapper {
  display: grid;
  gap: calc(var(--gap) * 2);
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
}

.date-range-picker-wrapper .peachy-input.date {
  grid-template-columns: auto min-content;
  grid-template-areas: "error error" "input button";
}

.peachy-date-picker__input {
  grid-area: input;
}

.peachy-dialog__trigger.date-picker-button {
  grid-area: button;
}

.date-range-arrow-wrapper {
  display: grid;
  place-content: end;
  flex-grow: 1;
}

.date-range-picker-wrapper .arrow {
  margin-bottom: 0.5rem;
  height: var(--icon-size);
  width: var(--icon-size);
}

.date-range-picker-wrapper .peachy-input__error {
  grid-area: error;
  font-size: 90%;
  opacity: 0.9;
}

.peachy-date-picker__day[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.peachy-date-picker__day[aria-disabled="true"][aria-pressed="true"] {
  background-color: var(--error-color);
}

.peachy-date-picker__input[aria-invalid="true"] {
  caret-color: var(--error-color);
  border-color: var(--error-color);
}

.peachy-date-picker__input[aria-invalid="true"]:not(:disabled):hover {
  border-color: var(--error-color);
}

.peachy-date-picker__input[aria-invalid="true"]:focus,
.peachy-date-picker__input[aria-invalid="true"]
  .peachy-date-picker__input:focus-visible {
  outline: none !important;
  border-color: var(--error-color);
}

@media only screen and (max-width: 45rem) {
  .date-range-picker-wrapper {
    grid-template-columns: 1fr;
  }

  .date-picker-inputs-wrapper {
    width: 15rem;
  }

  .date-range-arrow-wrapper {
    place-content: start;
  }

  .arrow {
    margin-top: 1rem;
    transform-origin: center;
    transform: rotate(90deg);
  }
}
