/* ===== Layout ===== */

.peachy-input.date {
  display: grid;
  width: 15rem;
  grid-template-columns: fit-content max-content;
  grid-template-areas: "label label" "input button";
  gap: var(--gap);
}

.peachy-input.date .peachy-input__label {
  grid-area: label;
}

.date-picker-button {
  grid-area: button;
}

.peachy-date-picker__input {
  grid-area: input;
}

/* ===== Text input ===== */

.peachy-date-picker__input {
  font: inherit;
  color: inherit;

  border-radius: 0.15rem;
  padding: 0.5rem;

  background-color: var(--bg);
  border: 1px solid var(--border);
  caret-color: var(--brand-color);

  transition: border-color 0.25s;

  min-width: 0;
}

.peachy-date-picker__input:not(:disabled):hover {
  border-color: var(--brand-color-dimmed);
}

.peachy-date-picker__input:focus-visible {
  outline: none !important;
  border-color: var(--brand-color);
}

/* ===== Button ===== */

.date-picker-button {
  border: none;
  cursor: pointer;

  height: 100%;
  background: var(--button-bg);

  aspect-ratio: 1;

  padding: var(--icon-button-padding) !important;
  border-radius: 0.15rem;

  transition: background 0.25s;
}

.date-picker-button:hover {
  background: var(--button-hover-bg);
}

.date-picker-button svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

/* ===== Dialog ===== */

.date-picker-dialog {
  width: 23rem;
  padding: 1rem 0.75rem;

  margin: var(--gap) !important;

  border-radius: var(--border-radius);
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.date-picker-dialog[open]::backdrop {
  display: none;
}

.date-picker-navigation-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.date-picker-navigation-wrapper svg {
  width: var(--icon-size);
}

.date-picker-navigation-wrapper svg.flip-icon {
  transform-origin: center;
  transform: rotate(180deg);
}

/* ===== Calendar meta ===== */

.peachy-date-picker__description {
  font-size: 100%;
  text-align: left;
  padding: 0.5rem;
  margin: 0.75rem 0 0.75rem 0;

  border-radius: var(--border-radius);
}

html.dark .peachy-date-picker__description {
  background-color: var(--dark-text);
}

html:not(.dark) .peachy-date-picker__description {
  border: 1px solid var(--border);
}

/* ===== Calendar Grid ===== */

.peachy-date-picker__table {
  width: 100%;
}

.peachy-date-picker__headings {
  border-bottom: 1px solid var(--divider);
}

.peachy-date-picker__heading {
  font-size: 100%;
  font-weight: var(--fw-bold);
}

.peachy-date-picker__heading {
  padding: 0.25rem;
  padding-bottom: 0.5rem;
}

.peachy-date-picker__week:first-of-type .peachy-date-picker__cell {
  padding-top: 0.5rem;
}

.peachy-date-picker__week-number {
  padding-right: 1rem;
}

.peachy-date-picker__cell {
  padding: 0.25rem;
}

.peachy-date-picker__day {
  font-size: 100%;

  min-width: 2rem;
  width: 2rem;
  max-width: 2rem;

  min-height: 2rem;
  height: 2rem;
  max-height: 2rem;

  border-radius: calc(var(--border-radius) / 2);
  background-color: var(--button-bg);
  color: var(--text);

  transition:
    transform 0.25s,
    background-color 0.25s,
    color 0.25s,
    filter 0.25s;
}

.peachy-date-picker__day[aria-pressed="true"] {
  background-color: var(--brand-button-bg);
  color: var(--brand-button-text);
}

.peachy-date-picker__day[data-active="true"] {
  outline: none !important;
  transform: scale(1.25);
}

html.dark .peachy-date-picker__day:focus-visible:not([aria-pressed="true"]),
html.dark .peachy-date-picker__day:hover:not([aria-pressed="true"]) {
  filter: brightness(150%);
}

html:not(.dark)
  .peachy-date-picker__day:focus-visible:not([aria-pressed="true"]),
html:not(.dark) .peachy-date-picker__day:hover:not([aria-pressed="true"]) {
  filter: brightness(80%);
}

.peachy-date-picker__title {
  width: 100%;
  text-align: center;
  font-weight: var(--fw-bold);
}
