.peachy-tabs__title {
  text-align: center;
}

.peachy-tabs[data-carousel="true"] .peachy-tabs__list {
  width: 100%;
  justify-content: center;
}

.target-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.peachy-tabs[data-carousel="true"] .peachy-tabs__panel {
  width: calc(var(--component-width) + 2rem);
  height: 8rem;
}

.peachy-tabs__navigation-button {
  cursor: pointer;
  border: none;
  background: none;

  margin-top: 1rem;
  display: grid;
  place-content: center;

  padding: var(--icon-button-padding);

  border-radius: 100%;
  transition: background 0.25s;
}

.peachy-tabs__navigation-button svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.peachy-tabs__navigation-button:hover {
  background: var(--button-hover-bg);
}

.peachy-tabs__interval-controller {
  color: var(--text);
  border: none;
  background: none;

  font-size: 100%;

  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);

  margin: 0.5rem 0 0 1.75rem;
}
