.peachy-tabs__title {
  line-height: 1;
  font-size: 120%;
  font-weight: var(--fw-bold);
  margin: 0;
}

.peachy-tabs__list {
  display: flex;
  gap: calc(var(--gap) * 2);
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.peachy-tabs__list-item {
  cursor: pointer;
  border: none;

  background: transparent;
  padding: 0.5em;
  border-bottom: 3px solid transparent;

  font-size: 90%;
  color: var(--dimmed-text);
  margin-bottom: var(--gap);

  transition:
    border-color 0.25s,
    color 0.25s;
}

.peachy-tabs__list-item:hover,
.peachy-tabs__list-item:focus-visible {
  color: var(--text);
}

.peachy-tabs__list-item[aria-selected="true"] {
  color: var(--text);
  border-color: var(--brand-color-dimmed);
}

.peachy-tabs__panel {
  width: var(--component-width);
  padding: 1em;

  border-radius: var(--border-radius);
  background: var(--bg);
}

/* ===== Transition ===== */

.tabs-move,
.tabs-enter-active,
.tabs-leave-active {
  transition: opacity 0.25s;
}

.tabs-enter-from,
.tabs-leave-to {
  opacity: 0;
}

.tabs-leave-active {
  position: absolute;
}
