/** ===== Popup ===== */

.peachy-toast {
  top: 2rem;
  margin: 0 auto;
  border: none;

  position: fixed;

  display: flex;
  align-items: center;
  gap: 0.5em;

  background: var(--background-color);
  border-radius: var(--border-radius);

  padding: 0.75rem 1.5rem;
  min-width: min(18rem, 95dvw);

  font-size: 1rem;

  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.peachy-toast:focus-visible {
  outline: 2px solid var(--focus-color);
}

/* ===== Button ===== */

.toast-trigger {
  cursor: pointer;
  padding: 0.5em 0.75em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  background: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.toast-trigger:hover {
  background: var(--text-color);
  color: var(--background-color);
  border-color: var(--text-color);
}

.toast-trigger:focus-visible {
  outline: 2px solid var(--focus-color);
}

.toast-trigger:disabled {
  opacity: 0.6;
  pointer-events: none;

  background-color: var(--border-color);
}

/** ===== Content ===== */

.peachy-dialog__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
}

.peachy-dialog__description {
  font-size: 1.125rem;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

/** ===== Close button ===== */

.peachy-toast__close {
  background: none;
  border: none;

  display: grid;
  place-content: center;
  padding: 0.25em;
  aspect-ratio: 1;

  font-size: 1rem;

  border-radius: 100%;
}

.peachy-toast__close:hover {
  background-color: var(--border-color);
}

.peachy-toast__close:focus-visible {
  outline: 2px solid var(--focus-color);
}

/* ===== Content ===== */

.peachy-toast p {
  margin-inline-end: 2em;
  font-size: 1.125rem;
}

.peachy-toast__action {
  cursor: pointer;
  padding: 0.5em 0.75em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  background: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.peachy-toast__action:hover {
  background: var(--text-color);
  color: var(--background-color);
  border-color: var(--text-color);
}

.peachy-toast__action:focus-visible {
  outline: 2px solid var(--focus-color);
}

.peachy-toast__action:disabled {
  opacity: 0.6;
  pointer-events: none;

  background-color: var(--border-color);
}

/* ===== Transitions ===== */

@media (prefers-reduced-motion: no-preference) {
  .toast-trigger,
  .peachy-toast__close,
  .peachy-toast__action {
    transition:
      border-color var(--transition),
      background var(--transition),
      color var(--transition);
  }

  .peachy-toast:popover-open {
    will-change: top;
    animation: SlideInFromTop var(--transition);
  }

  @keyframes SlideInFromTop {
    from {
      top: -15rem;
    }

    to {
      top: 0;
    }
  }
}
