.peachy-input.select {
  display: grid;
  gap: var(--gap);
}

.peachy-input__description {
  margin-top: 0;
  opacity: 0.9;
  font-size: 85%;
}

.peachy-select__trigger {
  font: inherit;
  color: inherit;
  cursor: pointer;

  border-radius: 0.15rem;
  padding: 0.5rem;
  width: 15rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg);
  border: 1px solid var(--border);
  caret-color: var(--brand-color);

  transition: border-color 0.25s;
}

.peachy-select__trigger svg {
  transition: transform 0.25s;
  transform-origin: center;
  transform: rotate(90deg);
}

.peachy-select__trigger:hover {
  border-color: var(--brand-color-dimmed);
  background-color: var(--bg) !important;
}

.peachy-select__trigger[data-active="true"] {
  border-color: var(--brand-color-dimmed);
}

.peachy-select__trigger[data-active="true"] svg {
  transform: rotate(-90deg);
}

.peachy-select__trigger[data-empty="true"] {
  color: var(--dimmed-text);
}

.peachy-select__trigger:focus-visible {
  outline: none !important;
  border-color: var(--brand-color);
}

.peachy-select__target {
  background: none;
  border: none;
}

.peachy-select__list {
  list-style: none;
  width: 15rem;

  padding: 0.75rem 0.5rem;
  margin: 0.5rem;

  display: grid;
  gap: 0.25rem;

  border-radius: var(--border-radius);
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.peachy-select__indicator[data-selected="true"] svg {
  width: 1rem;
  height: 1rem;
}

.peachy-select__indicator[data-selected="false"] svg {
  display: none;
}

.peachy-select__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.peachy-select__item,
.peachy-select__label {
  border: none;
  background: transparent;

  border-radius: calc(var(--border-radius) / 2);

  height: var(--button-height);
  padding: 0.75em;

  font-size: 90%;
  color: var(--text);
  line-height: 1;

  transition: background 0.25s;
}

.peachy-select__item[aria-selected="true"] {
  background-color: var(--brand-button-bg);
  color: var(--brand-button-text);
}

.peachy-select__item:hover,
.peachy-select__item:focus-visible,
.peachy-select__item[data-active="true"] {
  background: var(--button-hover-bg);
  color: var(--text);
  outline: none !important;
}

.peachy-select__item[aria-disabled="true"] {
  opacity: 0.75;
  pointer-events: none;
}

.peachy-select__label {
  opacity: 0.7;
  font-size: 85%;
  text-transform: uppercase;

  padding: 0 0.75em;
  height: 1.25rem;
}

.peachy-select__label {
  margin-top: 12px;
}

.peachy-select__separator {
  width: 100%;
  margin: 8px 0 8px 0;
  border: 0;

  border-top: 2px solid var(--divider);
}
