.peachy-switch__input {
  color: var(--text);
  cursor: pointer;
  font-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  background: none;
  border: none;

  border-radius: 99rem;
  padding: 0.25rem;
}

.peachy-switch__indicator {
  position: relative;

  border-radius: 99rem;
  background-color: var(--button-bg);
  border: 1px solid var(--border);
  width: 3rem;
  height: 1.5rem;
}

.peachy-switch__indicator .dot {
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  top: calc(calc(0.25rem / 2) * -1);

  border-radius: 100%;

  transition:
    background-color 0.25s,
    left 0.25s;
}

.peachy-switch__input[aria-pressed="false"] .dot {
  background-color: var(--dimmed-text);
  left: calc(calc(0.25rem / 2) * -1);
}

.peachy-switch__input[aria-pressed="true"] .dot {
  background-color: var(--brand-button-bg);
  left: calc(3rem - 1.75rem);
}

.peachy-switch__input:hover .dot,
.peachy-switch__input:focus-visible .dot {
  background-color: var(--brand-color);
}
