@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// # ━━━ RESETS ━━━ #

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: red;

  line-height: 1;

  label,
  button,
  input:not([type='text']),
  .select-btn-nm {
    cursor: pointer;
  }

  button:disabled,
  input:disabled,
  .disabled-true,
  [aria-disabled='true'] {
    pointer-events: none;
  }
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
