.peachy-toggletip__target {
  background: none;
  border: none;
}

.peachy-toggletip__target span {
  display: block;
  padding: 0.75em;

  border-radius: var(--border-radius);
  background: var(--bg);
  border: 1px solid var(--divider);

  margin: 0.5rem;

  box-shadow: var(--shadow);
}
